body {
    width: calc(100vw - 40px); 
    height: calc(100vh - 100px); 
    padding-top: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 60px; 
    background-color: rgba(0, 0, 0, 0.6);
}

#graph {
    width: 100%; 
    height: 100%; 
    border: 1px solid black;
    background-color: grey;
}

#loading-overlay {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 999;
}

.hidden {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
}

.select-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.right {
    justify-content: right;
}